<%- include("header") -%>

<h2>Lorem Ipsum...</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa massa ultricies mi quis hendrerit dolor magna. Id ornare arcu odio ut sem nulla pharetra diam. Egestas dui id ornare arcu odio ut sem. Sed risus pretium quam vulputate dignissim. Risus commodo viverra maecenas accumsan lacus vel facilisis. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Eget mauris pharetra et ultrices neque ornare aenean euismod. Nisl condimentum id venenatis a condimentum vitae. Congue nisi vitae suscipit tellus mauris a. Libero enim sed faucibus turpis in eu. Vulputate dignissim suspendisse in est ante. Sed id semper risus in hendrerit gravida. Dui id ornare arcu odio ut sem nulla.</p>

<%- include("footer") -%>